@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Unbounded:wght@200..900&display=swap');
.sl {
    position: relative;
    left: 800px;
    top: 200px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 15px;
    text-align: center;
    color: #ffffff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    width: 620px;
    animation: animate 5s linear ; 
}
*{
    font-family: 'Montserrat';
}
@keyframes animate {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #181818;

    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #ffffff;

    }
}

body{
    background-color: #000;
}

.er {
    background-color: #fdfefe;
    position: relative;
    bottom: 100px;
    width: 50%;
    height: 400px;
    position: relative;
    left: 50px;
    border-radius: 12px;
    -webkit-box-reflect: below 10px linear-gradient(180deg,transparent,transparent, #0008);
    line-height: 0.50em;
    text-align: center;
    align-items: center;
    z-index: 1;
    overflow:scroll;
    scrollbar-width: none;
    scroll-behavior: smooth ;
    transition: 0.5s ease;
    
     /* box-shadow: 0 0 1px #f4f4f4,
            0 0 2px #fff,
            0 0 4px #fff,
             0 0 8px #fff,
            0 0 16px #fff ; */
            
}
.er:hover{
 
    transition-delay: 0.5s;
    transform: translateX(-10px);
}

.er::before{
    content: "";
    position: absolute;
    width:33%  ;
    height:1300px ;
    left: 0px;
    border-bottom-left-radius: 12px;
    border-top-left-radius:12px ;
    right: 0;
    background-image: url(23.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.int {
    height: 50px;
    /* border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black solid 1px; */
    background-color: transparent;
    color:#000;
    z-index: 1;
    width: 300px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    right: 20%;
    margin: 10px;
    right: 3%;
    border-radius: 6px;
    border: none;
}
.int:focus{
    border-color: cyan ;
}
.int::placeholder{
   color: #f9fcfc;
}
/* .welcome {
    margin: 20px;
    padding-top: 20px;
    font-family: 'Montserrat', Courier, monospace;
    z-index: 1;
    position: relative;
    left: 20%;
}
.welcome2{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 900;
    position: relative;
    left: 20%;
    margin: 10px;
    padding: 10px;
} */
.r{
    margin: 5px;
    padding: 5px;
    height: 20px;
}
.r input[type="radio"]{
    accent-color: #4f4f4f;
}
.r1{
    height: 50px;
    width: 400px;
    border:#181818 solid 1px;
    border-radius: 10px;
    position: relative;
    left: 10%;
    
}
#i {
    color: #000;
    position: relative;
    right: 12%;
}
.submit-btn {
    margin: 20px;
    height: 30px;
    width: 70px;
    font-family: 'montserrat';
    border: black  solid 2px;
    border-radius: 6px;
    position: relative;
    left: 40%;
    text-decoration: none;
}
.submit-btn:hover{
    background-color: #4f4e4e;
    color: #f9fcfc;
    transition: 0.5s ease;
}
.a {
    font-family: 'Montserrat', Courier, monospace;
    font-size: large;
    color: #0e3742;
    text-decoration: none;
    z-index: 1;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 28%;
    color: transparent;
}
.ee {
    text-decoration: none;
    color:blue;
}
.ee:hover{
    color: rgb(4, 186, 186);
}


/* 




.logingoogle {
    width: 200px;
    margin: 10px;
    margin-left: 204px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    z-index: 1;
}
.logingoogle:hover{
    background-color: #4f4e4e;
    color: #f9fcfc;
    border: #f9fcfc solid 1px;
    transition: 0.5s ease;
}



.or {
    position: relative;
        margin-left: 200px;

    bottom: 0px;
    z-index: 1;
}

.or::before,
.or::after {
    content: "";
    height: 1px;
    width: 96px;
    position: absolute;
    background-color: #000;
    margin: auto 0;
}

.or::before {
    right: 1.5rem;
    bottom: 1vh;
}

.or::after {
    left: 1.5rem;
    bottom: 1vh;
}



.dont {
    font-family: 'Montserrat';
            margin-left: 200px;

    font-weight: 500;
    z-index: 1;
}





h5 {
    font-family: 'Montserrat';
     margin-left: 200px;

}
h1{
    height: 50px;
    width: 100vw;
    position: fixed;
    background-color: #f9fcfc;
    top: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    z-index: 10;
    left: 0;

} */
.g{
    align-items: center;
    background-color: transparent;
    text-align:left;
    width: 600px;
    position: relative;
    left: 33%;
    border-left:50px transparent solid ;
    /* height: 500px; */
}
.d{
    font-weight: 400;
    font-size: x-large;
    font-family: 'Montserrat';
    position: relative;
    /* right: 200px; */
    /* margin: 20px;
    padding: 10px; */
    padding-top: 50px;
    padding-bottom: 20px;
}
.f{
    background-color: transparent;
    position: relative;
    left: 15%;
    text-align: left;
}
/* .e {
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    font-weight: 900;
    font-size: large;
    z-index: 1;
    position: relative;
    left: 0%;
    top: 90%;
    } */
.h{
    background-color: transparent;
    position: relative;
    left: 15%;
    text-align: left;
}
.jk{
    background-color: white;
    margin: 0;padding: 0;
    transition: 1s ease-in-out;
    align-items: center;
    position: relative;
    height: 1300px;
    /* bottom: 20px; */
    left: 33%;
   z-index: 1;
   color: white;
}
.jk::before{
    content: "";
    width:700px ;
    margin: 0;padding: 0;
    height: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-color: transparent;
}
.jk::after{
    content: " Get started with \A   ＥＵＣＡＴＡＳＴＲＯＰＨＥ";
    white-space: pre;
    line-height: 3;
    font-size: larger;
    color: #000;
    width:700px ;
    margin: 0;padding: 0;
    margin-top: 180px;
    margin-right: 400px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 60;
    border-color: transparent;
}
.jk:hover {
    transform: translateX(-400px);
    color: #000;
    z-index: 100;
    
}
.jk:hover .int{
    border: #000 solid 1px;
}
.jk:hover .int::placeholder{
    color: #000 ;
}
.jk:hover::after{
    transition: 1s ease;
    background-color: transparent;
    color: white;
    z-index: -23;
}
.jk:hover .a{
    color: #000;
}
.lihome{
    text-decoration: none;
}